name: CD - Build and release packages

on:
  push:
    branches: [main]

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      released: ${{ steps.release.outputs.release_created }}
      tag: ${{ steps.release.outputs.tag_name }}

    steps:
    - uses: googleapis/release-please-action@v4
      id: release
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        release-type: python
        target-branch: main

  build:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.released }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: 3.14
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build tar.gz and wheel
      run: pyproject-build

    - name: Upload tar.gz and wheel
      uses: svenstaro/upload-release-action@v2
      with:
        file: dist/*
        file_glob: true
        tag: ${{ needs.release-please.outputs.tag }}
        repo_token: ${{ secrets.GITHUB_TOKEN }}

# TODO: re-enable this later, see if it works
#    - name: Publish package
#      uses: pypa/gh-action-pypi-publish@release/v1
#      with:
#        user: __token__
#        password: ${{ secrets.PYPI_API_TOKEN }}
